:root {
    --blue: #0A3ED1;
    --darkblue: #0A1D52;
    --textcolor: #555C71;
    --red: #EB5A4D;
    --lightblue: #0AC0D1;
  }

.top-container {
    background-color: var(--lightblue);
    padding: 0 7.777% !important;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.logo {
    width: 11.3%;
    height: 60%;
}
.logohue {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* ------------------------NavBar-------------- */
.navbar {
    overflow: visible;
    display: flex;
    justify-content: center;
    padding: 0px 16px;
    height: 60% ;
    margin: 8px 0;
    margin-top: 16px;

}
.sideNav-closeBtn {
    display: none;
}
.navbar-content {
  position: relative;
  display: flex;
  padding: 8px 0;
}

.navbar a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 24px ;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  /* margin : 0 8px; */
}
.navbar .dropbtn {
  color: #fff;
}

.dropdown {
  display: flex;
  position:relative;
  outline: none;
  margin: 8px 16px;
  z-index: 10;
}

/* button */
.dropbtn {
  padding: 12px 16px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.35s ease-out;
  
}

/* dd content */
.dropdown .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  background-color: #f7f7f7;
  min-width: 120%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-out;
  border-radius: 8px;
  row-gap: 12px;
  padding: 24px;
}
.dropdown-content a {
  color: var(--darkblue);
  padding: 0;
  margin: 0 24px 0 24px;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.35s ease-out;
  
  
}
.dropdown-content a:hover {
  background-color: #eaeaea;
  border-radius: 8px;
  
}

.dropdown-content p {
  width: 100%;
  z-index: 100;
  text-align: left;
  margin: 0;
}

/* show dd content */
.dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
  opacity: 1;
}


/* mask to close menu by clicking on the button */
.dropdown .db2 {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.dropdown:focus .db2 {
  display: inline-block;
}

.signin {
    width: auto;
    height: 60%;
    background-color:transparent;
    border-radius:50px;
    border:2px solid #fff;
    white-space: nowrap;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size:1em;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    padding: 16px 32px;
    z-index: 1;
  }
  .signin-button {
    display: flex;
    height: 60%;
    
  }

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    column-gap: 24px;
    padding-bottom: 60px;
}
.banner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}
.banner-content-text {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.banner-content-text-title p {
    font-size: 48px;
    color: #fff;
    margin: 0 0 20px 0;
    font-family: 'Open Sans', sans-serif;
}
  
.banner-content-text-title b {
    font-weight: 800;
    font-size: 48px;
    color: #fff;
    margin: 0 0 20px 0;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
}

.banner-content-text-context {
    padding: 0;
    margin: 0;
}

.banner-content-text-context p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    text-align: left;
    color: #fff;
    font-weight: 400;
    margin: 0;
}

.banner-button {
    padding-top: 40px;
  }
.banner-btn i {
    margin-left: 16px;
    font-size: 24px;
    align-self: center;
    vertical-align: center;
  }
.banner-btn {
    width: auto;
    height: 60%;
    border-radius:50px;
    border:2px solid #fff;
    white-space: nowrap;
    cursor:pointer;
    color: var(--lightblue);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration:none;
    
    padding: 16px 32px;
    line-height: 1.6;
}

.banner-img {
  position: absolute;
  right: 0;
  top: 23%
}
.banner-img img {
  width: 80%;
}
/* -------------Middle Container------------ */

.mid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3.333%;
  background-color: #F3F7FF;
  padding-top: 4.167% ;
}
.info-image {

  height: 100%;
  margin-left: 7.777%;
  align-self: center;
  margin-bottom: 4.167%;
}

.info-image img {
  height: 50%;
}

.info-content {
  width: 100%;
  height: 100%;
  padding-right: 7.777%;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
  margin-bottom: 4.167%;
}

.info-content-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.111%;
}
.info-content-title h1 p {
  margin: 0;
  padding: 0;
}
.info-content-title h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  color: var(--blue);
}

.info-content-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 24px;
  color: var(--darkblue);
}

.info-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.3%;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  max-height: 65vh;
  padding: 0;
  margin: 0;
  
  
}
.info-content-line {
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 3.8%;
  margin-right: 3.8%;
  align-items: center;
  margin-bottom: 2.3%;
  background-color: #FFFFFF;
  
}

.info-content-icon{
  margin-left: 3.8%;
  height: 100%;
}
.info-content-text p h1 {
  margin: 0;
  padding: 0;
}
.info-content-text h1 {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--darkblue);
  margin-top: 2.3%;
}
.info-content-text p {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.info-content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.info-content-wrapper::-webkit-scrollbar-track {
  background-color: hsla(224, 91%, 43%, 0.05);
}

.info-content-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 4px;
}



/* --------------CÁC PHÂN HỆ CHỨC NĂNG --------- */



.function-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 0 7.777%;
}

.function-title h1 {
  margin-top: 4.167%;
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  color: var(--blue);
  margin-bottom: 0;
}

.function-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.function-line {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2.222%;
}

.function-item {
  flex-basis: 33.333%;
  display: flex;
  flex-direction: column;
  /* row-gap: 9%; */
  padding: 0 3%;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 0.5px solid;
  border-radius: 8px;
  border-color: hsla(224, 91%, 43%, 0.24);
  box-shadow: 1px 1px 4px hsla(224, 91%, 43%, 0.24);
}

.empty {
  visibility: hidden;
}

.function-item-icon img{
  margin-top: 9%;
}



.function-item-text h1 {
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: var(--darkblue);
  margin-top: 9%;
  font-weight: 500;
  margin-bottom: 8px;
}
.function-item-text p {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: var(--textcolor);
  margin-bottom: 9%;
}

.trial-banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 4.167% 0 0 0;
}
.trial-title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 3.8%;
  padding: 0 7.777% 0 7.777%;
  background-color: #EB5A4D;
}

.trial-title h1 {
  margin-top: 4.167%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: auto;
  color: #FFFFFF;
  text-align: center;
}
.trial-title p {
  margin-bottom: 3.333%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: auto;
  color: #FFFFFF;
  text-align: center;
}

.trial-button {
  height: 100%;
  width: 100%;
  /* padding: 3.6% 0; */
  display: flex;
  flex-direction: row;
  column-gap: 1.111%;
  padding-left: 2.222%;
  background-color: #EB5A4D;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 7.777%;
  padding-bottom: 4.167%;
}

.trial-btn {
  padding:16px 24px;
  background-color: #ffffff;
  color: var(--red);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
}

.view-btn {
  padding:16px 24px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: 1px solid #ffffff;
  border-radius: 4px;
  line-height: 24px;
  cursor: pointer;
}

/* ---------------- Đăng kí dùng thử 100 ngày -------------- */

.signin-100 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  background-color: #F3F7FF;
  align-items: center;
}
.signin-100-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 112px;
}

.signin-100-title h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  color: var(--blue);
  margin: 12px 0;
  text-align: center;
}

.signin-100-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--darkblue);
  margin: 0;
  text-align: center;
}

.signin-100-context {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 32px 112px;
}

.signin-100-context-line {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  
  padding: 0;
  align-items: center;
}
.signin-100-context-line i {
  filter: invert(42%) sepia(36%) saturate(1092%) hue-rotate(317deg) brightness(102%) contrast(92%);
}
.signin-100-context-line p {
  width: 100%;
  height: 100%;
  margin: 0 0 0 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  
}
.signin-100-button p {
  margin: 16px 0;
  padding: 0;
}

.signin-100-button {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 60%;
	border-radius:50px;
  background-color: #EB5A4D;
	border:2px solid #EB5A4D;
  white-space: nowrap;
	cursor:pointer;
	color: #fff;
	font-family: 'Roboto', sans-serif;
  font-weight: 500;
	font-size: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  line-height: 24px;
  column-gap: 8px;
  align-items: center;
  padding: 0 24px;
}

/* ----------------------Bottom Container------------------- */

.bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px 0;
  background-image: linear-gradient(to right, #003ECF, #4E42DE);
  column-gap: 32px;
}
.bottom-container h3 {
  margin: 0;
  padding: 0;
}
.bottom-container p {
  margin: 0;
  padding: 0;
}

.bottom-address {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 112px;
}
.bottom-address-context {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.bottom-address-context h3 {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.bottom-address-context p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.600);
}

.bottom-address-img {
  height: 100%;
  width: 60%;
  margin-bottom: 16px;
  cursor: pointer;
}

.bottom-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; 
}

.bottom-contact-title {
  margin-bottom: 20px;
}
.bottom-contact-context {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  row-gap: 12px;
  
}
.bottom-contact-context h1{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
}

.bottom-contact-context-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  row-gap: 8px;

}
.bottom-contact-context-info-title {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.bottom-contact-context-info-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.bottom-contact-context-info-title h3 {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-right: 8px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.60);
  text-align: left;
}
.bottom-contact-context-info-info p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-right: 8px;
  color: #fff;
  text-align: left;
}

.bottom-contact-title h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}


.bottom-contact h3 {
  font-family: 'Roboto', sans-serif;
}
.bottom-contact p {
  font-family: 'Roboto', sans-serif;
}


.bottom-solution {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 112px;
}

.bottom-solution-title {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 20px;
}
.bottom-solution-context {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.bottom-solution-title h3{
 font-family: 'Roboto', sans-serif;
 font-size: 26px;
 line-height: 32px;
 font-weight: 700;
 color: #fff;
}

.bottom-solution-context p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
